<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyam.model.dao.FollowDao">
	
	
	<insert id = "follow" parameterType = "User">
		INSERT INTO follow(
			user_id, 
			follow_id
		)
		VALUES (
			#{userId},
			#{followId}
		);
		
	</insert>
	
	<delete id = "unfollow" parameterType = "String">
		DELETE
		FROM follow
		WHERE 
			user_id = #{userId} 
			AND follow_id = #{followId}
			AND use_yn = 'Y'
		;
		
	</delete>
	
	<select id = "getFollow" parameterType = "String">
		SELECT *
		FROM follow
		WHERE user_id = #{userId} and use_yn = 'Y'
		;
	</select>
	
	
	<select id = "getFollower" parameterType = "String">
		SELECT *
		FROM follow
		WHERE follow_id = #{followId} and use_yn = 'Y'
		;
	</select>
	
</mapper>