<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyam.model.dao.UserDao">
	
	<select id="selectByuserId" parameterType = "String">
		SELECT *
		FROM user
		WHERE user_id = #{userId} AND use_yn = 'Y'
		;
	</select>
	
	<select id = "selectById" parameterType = "int">
		SELECT *
		FROM user
		WHERE id = #{id} AND use_yn = 'Y'
		;
	</select>
	
	
	<insert id = "insert" parameterType = "User">
		INSERT INTO user(
			user_id,
			name,
			email,
			password
		)
		
		VALUES (
			#{userId},
			#{name},
			#{email},
			#{password}
		)
		;
	</insert>
	
	
	<update id = "update" parameterType = "user">
		UPDATE user
		SET 
			user_id = #{userId},
			name = #{name},
			email = #{email},
			password = #{password},
			intro = #{intro},
			feed_type = #{feedType},
			mdfc_dttm = now()
		WHERE user_id = #{userId} AND use_yn = 'Y'
		;
	</update>
	
	<!-- Soft Delete로 User 기록은 남겨준다. -->
	<update id = "delete" parameterType = "String">
		UPDATE user
		SET
			use_yn = 'N'
		WHERE user_id = #{userId}
		;
	</update>
	
	
	<select id = "search" parameterType = "String">
		SELECT *
		FROM user
		WHERE user_id LIKE CONCAT( #{keyword}, '%') AND use_yn = 'Y'
		;
		
	</select>
	
	
</mapper>