<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyam.model.dao.UserDao">
	
	<select id="selectByuserId" parameterType = "String">
		SELECT 
			  u.user_id
			, u.name
			, u.email
			, u.password
			, u.role
			, u.intro
			, u.feed_type
			, i.id as image_id
			, i.org_file as image_url		
		FROM user u
		LEFT OUTER JOIN image i ON u.image_id = i.id
		WHERE u.user_id = #{userId} AND u.use_yn = 'Y'
		;
	</select>
	
	<select id = "selectById" parameterType = "int">
		SELECT *
		FROM user
		WHERE id = #{id} AND use_yn = 'Y'
		;
	</select>
	
	
	<insert id = "insert" parameterType = "User">
		INSERT INTO user(
			user_id,
			name,
			email,
			password
		)
		
		VALUES (
			#{userId},
			#{name},
			#{email},
			#{password}
		)
		;
	</insert>
	
	<!-- Data 유무에 따른 동적 퀴리 형성으로, 데이터가 존재할 때만 쿼리를 형성한다. -->
	<update id = "update" parameterType = "user">
		UPDATE user
		<set>
			<if test = "userId !=null">user_id = #{userId},</if>
			<if test = "name != null">name = #{name},</if>
			<if test = "email != null">email = #{email},</if>
			<if test = "password != null">password = #{password},</if>
			<if test = "intro != null">intro = #{intro},</if>
			<if test = "feedType != null">feed_type = #{feedType},</if>
			mdfc_dttm = now()
		</set>
		WHERE user_id = #{userId} AND use_yn = 'Y'
		;
	</update>
	
	<!-- Soft Delete로 User 기록은 남겨준다. -->
	<update id = "delete" parameterType = "String">
		UPDATE user
		SET
			use_yn = 'N'
		WHERE user_id = #{userId}
		;
	</update>
	
	
	<select id = "search" parameterType = "String">
		SELECT *
		FROM user
		WHERE user_id LIKE CONCAT( #{keyword}, '%') AND use_yn = 'Y'
		;
		
	</select>
	
	<select id = "searchExact" parameterType = "String">
		SELECT *
		FROM user
		WHERE user_id = #{userId};
	</select>
	
	
</mapper>