

#app {
  font-weight: normal;
  height: 100vh;
}

body {
  margin: 0px;
  font-family: 'NanumGothic';
  height: 100vh;
  min-width: 1100px;
}

pre {
  font-family: inherit;
  font-size : 1em;
  line-height: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 10px;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

/* Font Test */
@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTSamlipCreamyWhiteR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/TTSamlipCreamyWhiteR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font1 {
  font-family : 'Ownglyph_corncorn-Rg';
}

.font2 {
  font-family: 'SDSamliphopangche_Outline';
}

.font3 {
  font-family: 'BinggraeSamanco-Bold';
}

.font4 {
  font-family: 'TTSamlipCreamyWhiteR';
}